# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in the repo.
*       @nicolerenee @lvaughn

# The owners are responsible for documentation files
*.md   @nicolerenee @lvaughn @wpdrush21

# These owners are responsible for the continuous integration file
.travis.yml @nicolerenee @lvaughn @wpdrush21

# These owners are responsible for the Dockerfile
Dockerfile @nicolerenee @lvaughn @wpdrush21